<!DOCTYPE html>
<html>
<script
	src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
<link rel="stylesheet" href="css/styles.css">
<script src="js/scripts.js"></script>
<link href="css/jquery-ui.css" rel="stylesheet">
<body>
	<div class="wrapper">
		<div class="container">
			<h3 class="txt-align-center">Sattapanchayat Dashboard</h3>
			<form ng-app="myApp" ng-controller="validateCtrl" name="myForm" novalidate>
				<div class="col-sm-12">
					<input type="text" class="user" name="user" placeholder="Username" ng-model="user"
						required> <p  class="form-errors" ng-show="myForm.user.$dirty && myForm.user.$invalid"> <span
						ng-show="myForm.user.$error.required">Username is required.</p>
					</span>
				</div>
				<div class="col-sm-12">
					<input type="password" class="password" name="password" placeholder="Password" ng-model="password"
						required> <p class="form-errors"  ng-show="myForm.password.$dirty && myForm.password.$invalid"> <span
						ng-show="myForm.password.$error.required">Password is required.</span>
					</p>
				</div>
				<div class="col-sm-12 txt-align-center">
					<button type="submit" id="dialog-link" ng-click='go()'>Login</button>
				</div>
			</form>
		</div>
		<ul class="bg-bubbles">
			<li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li>
		</ul>
	</div>
	<script>
	</script>
</body>
</html>
